@font-face {
  font-family: Norse-Bold;
  src: url(./Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  font-size: 1.6rem;
}

.picture {
  flex-shrink: 0;
  width: max(40vw, 30rem);
  height: 100vh;
  background-image: url(./pandu-ior-hckbnUpcm6E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.picture-author {
  color: white;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.link:link,
.link:visited {
  color: white;
}

.link:hover,
.link:active {
  text-decoration: none;
}

.odin-logo {
  width: 100%;
  height: 10rem;
  margin-block-start: 20vh;
  background-color: rgb(20, 26, 27, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-logo img {
  height: 100%;
}

.odin-logo p {
  font-family: Norse-Bold;
  color: white;
  text-transform: uppercase;
  font-size: calc(7.2rem + 3vw);
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-introduction {
  height: calc(10rem + 20vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text-introduction p {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem 5rem;
}

.text-introduction p:first-of-type {
  margin-top: 7rem;
}

.signup-form {
  background-color: white;
  height: 33vh;
  padding: 2rem 5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.text-under-form {
  margin: 2rem 5rem;
}
